@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.section__about {
  width: 60%;
  align-self: center;
  margin: auto;
  padding: 1em 0em 6em;
}

.containAbout {
    font-family: 'Noto Sans', sans-serif;
}

.descAbout {
    border: 2px solid #141414;
    line-height: 2.6rem;
    font-size: 1rem;
    padding: 3rem 4rem;

}

.buttonMeet {
    background-color: #141414;
    color: #FFDFDC;
    border: none;
}
.spacerDiv{
    height:1rem;
}
