@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.section__about {
  width: 90%;
  align-self: center;
  margin: 2em auto;
  padding: 1em 0em 3em;
}

.containAbout {
    font-family: 'Noto Sans', sans-serif;
}

.descAbout {
    border: 2px solid #141414;
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 2em 1.5em;
}


.buttonMeet {
    background-color: #141414;
    color: #FFDFDC;
    border: none;
}
.spacerDiv{
    height:1rem;
}

@media(min-width:768px){
    .descAbout {
        border: 2px solid #141414;
        line-height: 2.6rem;
        font-size: 1rem;
        padding: 3em 4em;
    }

    .section__about {
        width: 60%;
        align-self: center;
        margin: auto;
        padding: 1em 0em 6em;
      }
    }