@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* MAIN DOC ELEMENTS */

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 2rem;
  /* align-self: center;
  vertical-align: auto;
  vertical-align: center;
  margin-bottom: 2.6rem; */
}

.Section-landing {
  margin: 4rem 0;
}

div.Section-meetUs-grid {
  /* height:100vh; */
  width: 100%;
}

/* CLASSES */

h2 {
  font-size: 2rem;
  font-family: 'Noto Sans', sans-serif;
  color: #141414;
  font-variant: small-caps;
  letter-spacing: .4rem;
  text-align: center;
}

.small-caps-p {
  font-size: 1.4rem;
  font-family: 'Noto Sans', sans-serif;
  color: #DD847F;
  font-variant: small-caps;
  letter-spacing: 6px;
  text-align: center;
}

.amp-h2 {
  font-size: 1.4rem;
  letter-spacing: .25rem;
}

.amp-p {
  font-size: 1rem;
  letter-spacing: .25remx;
}

img.unicorn {
  max-width: 400px;
  width: 50%;
  padding-bottom: 2rem;
  margin-top: 1rem;
}
  


/* #detailsPage {
  height: 100vh;
}  */
