@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');

.navBar{
    height: 100px;
    padding: 2rem 2rem;
    background-color: rgba(255, 249, 248, 1.0);
}

/* .nav__container {
  justify-content: space-between;
} */

.c24Logo {
    /* float: left; */
    height: 6rem;
    margin: 3rem 2.5rem;
    padding-top: 1rem;
}

.noBorder{
    border-bottom: none !important;
}

ul.rightSideNav{
    align-content: flex-end;
    justify-content: baseline;
    padding-top: 2rem;
}

.navList {
    display: inline-block;
    margin: 2rem 2rem;
    /* margin-top: 2rem; */
    color: #DD847F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .5em;
}

a:navList {
    color: #DD847F;
}

a:active {
    color: rgb(31, 31, 31);
    border-bottom: 6px solid #DD847F;
    line-height: 5px;
    /* margin-bottom: 5px; */
    padding: 0px 10px;
}

/* Nav {
    background-color: #FFF9F8;
} */
