@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');


.navbar-collapse, .collapse{
    background-color: rgba(255, 241, 240, .95);
    width: 100% !important;
    padding: .5em 0;
}

nav li{
    padding: .5em 0;
}

.uniNav{
    padding: 1em 1.4em;
    background-color: rgba(255, 241, 240, .95);
    height: 80px;
}

.c24Logo {
    height: 3rem;
    /* padding: .3em 0; */
    margin: .5em auto;
}


.noBorder{
    border-bottom: none !important;
}

.rightSideNav{
    align-content: flex-end;
    justify-content: baseline;
    margin: 0;
}

.navList {
    display: inline-block;
    margin: 0 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .5em;
}

.navList li a {
    color: #FFBFBB;
    text-decoration: none;
    padding: 1em 8px;
    text-align: right;
}

.navList li a:hover {
    color: rgb(31, 31, 31);
    line-height: 5px;
    text-decoration: none;
}

  nav li a,
  nav li a:after,
  nav li a:before {
    transition: all .5s;
  }
  nav li a:hover {
    color: #555;
  }
  
  
  /* stroke */
  nav.stroke  li a,
  nav.fill li a {
    position: relative;
  }
  nav.stroke li a:after,
  nav.fill li a:after {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    z-index: -2;
    background: #FFBFBB;
    height: 4px;
  }
  nav.stroke li a:hover:after {
    width: 100%;
  }

@media(min-width:768px) {

    .navbar-collapse, .collapse{
        background-color: transparent;
    }

    .uniNav{
        height: 100px;
        padding: 1em 2em;
    }

    .c24Logo {
        height: 4rem;
        margin: 1em;
    }

}