@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');

.uniNav{
    height: 100px;
    padding: 1rem 2rem;
    background-color: rgba(255, 241, 240, .95);
}

.c24Logo {
    /* float: left; */
    height: 4rem;
    /* margin: 3rem 2.5rem; */
    /* padding-top: 1rem; */
}

.noBorder{
    border-bottom: none !important;
}

.rightSideNav{
    align-content: flex-end;
    justify-content: baseline;
    margin: 0;
}

.navList {
    display: inline-block;
    margin: 0 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .5em;
}

.navList a {
    color: #FFBFBB;
    text-decoration: none;
    padding-left: 8px;
}

.navList a:visited{
    color: #FFBFBB;
    text-decoration: none;
}

.navList a:hover {
    color: rgb(31, 31, 31);
    line-height: 5px;
    text-decoration: none;
}

  nav a,
  nav a:after,
  nav a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.fill ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    z-index: -2;
    background: #FFBFBB;
    height: 4px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
