@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ////////// ***     BASE    *** ///////// */
#Meet {
    background-color: #FFDFDC;    
}

.black {
    color: #141414;
}

.icon {
    width: 30px;
    height: 30px;
    color: #EED0CD;
}

#backButton {
    padding: .5em 5em;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    border: 5px solid #141414;
    background-color: #141414;
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase;
 }

 #backButton:hover {
    text-decoration: none;
    transition: .3s ease-in-out;
    background-color: transparent;
    border: 5px solid #141414;
    color:  #141414;
 }

 .blackButton a {
     color: white !important;
 } 

.peopleDiv{
    min-height: 100vh;
}

.class-h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.class-h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.class-p {
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
}


/* phone */
@media only screen and (max-width: 600px) {
 .peopledeetzpage {
     flex-direction: column;
 }

 .peopleDiv{
    height: auto;
    padding-bottom: 5em;
}
 .classpicture {
    max-width: 98%;
    height: auto;
}

 .picturediv {
     justify-content: center;
     width: 90%;
     margin: 1em auto;
 }


.aboutdiv {
    border-top: 3px solid #FFBFBB;
    border-bottom: 3px solid #FFBFBB;    
    width: 90%;
    margin: 1em;
    padding: 1em;
}

.socialdiv {
    flex-direction: row;
    justify-content: center;
    margin: 5% 5% 10% auto; 
}

 .icon {
     transform: rotate(270deg);
 }
    
}


/* ipad portrait */
 @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    
.peopledeetzpage {
     flex-direction: column;
     justify-content: center;
 }

.aboutdiv {
    width: 100%;
    margin-bottom: 0;
}

.classpicture {
    width: 75%;
    height: 75%;
    margin: 0 auto 0 auto;
}

 .picturediv {
     margin: auto;
     justify-content: center;
     align-items: center;
     width: 100%;
    }

.socialdiv {
    flex-direction: row;
    justify-content: center;
    margin: 3%;
 }

 .icon {
     transform: rotate(270deg);
 }
    
 }

 /* Full width */
@media(min-width:1024px){

    .peopledeetzpage {
        flex-direction: row;
    }

    .picturediv {
       margin-right: -10%;
       padding-left: 17%;
   }
   
   .classpicture {
       height: 60vh;
   }
 
   .aboutdiv {
    background-color: #FFF1F0;    
    margin-top: .5rem !important;
    margin-left: 30px;
    max-width: 25%;
    border: 3px solid #FFBFBB;
    min-width: 400px;
    padding: 1.5em 3em;
    }
   
   .socialdiv {
       margin-left: -14%;
       margin-top: 15em;
       flex-direction: column;
       justify-content: end;
       align-items: center;
   }
   }

 