@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.workjs > div {
    background-color: #141414;
    font-family: 'Noto Sans', sans-serif;
    color: #DD847F;
    /* color: #FFF1F0; */
}

.perfectPitch {
    font-size: 1.4rem;
    letter-spacing: .8rem;
}

.head2{
    color: #FFF1F0;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: rgba(221, 132, 127, 0.60);
    /* color: #FFF1F0; */
    /* text-decoration: none; */
}

@media screen and (min-width: 320px) and (max-width: 415px) { 

    

}
