@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.workjs {
    background-color: #141414;
    font-family: 'Noto Sans', sans-serif;
    color: #DD847F;
    /* color: #FFF1F0; */
    padding: 5em 0;
    width: 100%;
}

.perfectPitch {
    font-size: 1.4rem;
    letter-spacing: .8rem;
}

.head2{
    color: #FFF1F0;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-decoration: none;
    margin-top: 1em;
}

a:hover, a:active, a:visited {
    color: rgba(221, 132, 127, 0.60);
    /* color: #FFF1F0; */
}


.workjs h2 {
    color: white;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: .425em;
}

.workjs h3 {
    color: #FFBFBB;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .25rem;
    text-transform: uppercase;
    margin: 3em 0 1em 0
}


@media screen and (min-width: 320px) and (max-width: 415px) { 

    

}
