@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.workjs > div {
    background-color: #141414;
    font-family: 'Noto Sans', sans-serif;
    color: #FFF1F0;
}

.perfectPitch {
    font-size: 20px;
    letter-spacing: 12px;
}

.head2{
    color: #FFF1F0;
    font-size: 15px;
    letter-spacing: 9px;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: #FFF1F0;
    /* text-decoration: none; */
}