
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');

/*

-----COLORS-----

Lightest Pink: #FFF1F0
Normal Pink: #FFDFDC
Dark Pink: FFBFBB
Darkst Pink: #DD847F
Black: #141414

------FONT------

Heading {
    font-family: Noto-Sans
    font-weight: 400;
    font-size: 34px;
    letter-spacing: .425em;
}

Name Heading {
    font-family: Roboto
    font-weight: 400;
    font-size: 45px;
    letter-spacing: .1em;
    line-height: 50;
}

Sub-Heading {
    font-family: Noto Sans
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .425em;
}

Nav Links {
    font-family: Roboto
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .5em;
}

About Body {
    font-family: Noto Sans
    font-weight: 400;
    font-size: 22px;
    letter-spacing: .059em;
}

Tech Body {
    font-family: Noto Sans
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .024em;
}

-----BUTTON-----
Action Button {
    height: 90px;
    width: 319px;
    font-family: Roboto
    font-size: 34;
    font-weight: 400;
    letter-spacing: .1em;
    border: none;
    text-transform: uppercase;
}

*/

.App {
  /* text-align: center; */
  background-color: #FFF9F8;
  width: 100%;
  /* padding: 0rem 3rem; */

}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; */
/* } */

/* .App-title {
  font-size: 1.5em;
} */

/* .App-intro {
  font-size: large;
} */

.tech {
    background-color: #FFF1F0;
    padding: 5rem 8rem;

}

h2 {
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    margin: 3rem 0 1rem 0;
}

.filter{
    filter: sepia(20%) grayscale(60%) brightness(90%) contrast(120%) brightness(110%);
    }

