
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto');

/*

-----COLORS-----

Lightest Pink: ##FFF9F8
Normal Pink: #FFDFDC
Dark Pink: FFBFBB
Darkst Pink: #DD847F
Black: #141414

------FONT------

Heading {
    font-family: Noto-Sans
    font-weight: 400;
    font-size: 34px;
    letter-spacing: .425em;
}

Name Heading {
    font-family: Roboto
    font-weight: 400;
    font-size: 45px;
    letter-spacing: .1em;
    line-height: 50;
}

Sub-Heading {
    font-family: Noto Sans
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .425em;
}

Nav Links {
    font-family: Roboto
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .5em;
}

About Body {
    font-family: Noto Sans
    font-weight: 400;
    font-size: 22px;
    letter-spacing: .059em;
}

Tech Body {
    font-family: Noto Sans
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .024em;
}

-----BUTTON-----
Action Button {
    height: 90px;
    width: 319px;
    font-family: Roboto
    font-size: 34;
    font-weight: 400;
    letter-spacing: .1em;
    border: none;
    text-transform: uppercase;
}

*/

.App {
    text-align: center;
    background-color: #FFDFDC;
}

.tech{
    background-color: #FFF1F0;
    padding: 5m 8m;
}

h2 {
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .25rem;
    text-transform: uppercase;
    margin: 3rem 0 1rem 0;
}

.spacerDiv{
        height:2rem;
      }

